*,
*::before *::after {
  margin: 0;
  padding: 0;
}

:root {
  --brandcolor: #212121;
  --secondcolor: #000000;
  --thirdcolor: #757575;
  --fourthcolor: #2196f3;
  --fifhtcolor: #ffffff;
  --sixthcolor: #2f303a;
  --seventhcolor: #e5e5e5;
  --eighthcolor: rgba (255, 255, 255, 0.6);
  --ninthcolor: #f5f4fa;
  --tenthcolor: #eeeeee;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--brandcolor);
  background: var(--fifhtcolor);
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  outline: 1px blue solid;
  margin: 0 auto;
}
.boxfirst {
  outline: 1px red dashed;
  padding: 24px 0 32px 15px;
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
  align-items: baseline;
  border: 1px solid #ececec;
}

.brandname {
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  color: var(--secondcolor);
  text-decoration: none;
  margin-right: 93px;
}
.pieceofbrand {
  color: var(--fourthcolor);
}
.nav-link {
  font-weight: 500;
  text-align: left;
  color: currentColor;
  text-decoration: none;
}
.list-upper {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 46px;
}
.nav-link:hover,
.nav-link:focus,
.contact-links a:hover,
.contact-links a:focus {
  color: var(--fourthcolor);
  cursor: pointer;
}
.contact-links {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--thirdcolor);
  margin-left: 371px;
  gap: 50px;
}
.contact-links a {
  text-decoration: none;
  color: inherit;
}
.contactfooter {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contactfooter:hover,
.contactfooter:focus {
  color: var(--fourthcolor);
  cursor: pointer;
}
.localization {
  line-height: 1.71;
  text-decoration: none;
  color: var(--fifhtcolor);
  font-style: normal;
}
.footer {
  background-color: var(--sixthcolor);
  padding: 60px 0 60px 15px;
  margin-top: 20px;
}
.footerlist {
  list-style: none;
  padding-left: 0;
}
.brandnamefooter {
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  color: var(--fifhtcolor);
  text-decoration: none;
}
.main-header {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--fifhtcolor);
  width: 696px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.buttonfirst {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--fourthcolor);
  color: #ffffff;
  cursor: pointer;
  font-family: 'Roboto';
  padding: 10px 41px;
  align-items: center;
  margin-left: 252px;
}

.main-section {
  background-color: var(--sixthcolor);
  margin: 0 auto;
  max-width: 1600px;
  padding: 200px 0 200px 252px;
  outline: 1px red dashed;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-two {
  max-width: 1600px;
}

.list-second {
  list-style: none;
  display: flex;
  gap: 30px;
  padding-left: 15px;
  margin: 0;
}
.loremitem {
  flex-basis: calc((100%- 90px) / 4);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.loremheader {
  font-weight: 700;
  color: var(--brandcolor);
  margin-top: 0;
  margin-bottom: 10px;
}
.loremdescrition {
  line-height: 1.71;
  text-align: left;
  color: var(--thirdcolor);
  margin: 0;
}
.secondheader {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: var(--brandcolor);
  margin: 0;
}
.ourteam {
  margin-bottom: 50px;
}
.list-third {
  padding-left: 15px;
  list-style: none;
  display: flex;
  margin: 0;
  gap: 30px;
}
.thirditem {
  flex-basis: calc((100%-60px) / 2);
}
.back {
  background: #f5f4fa;
}

.emloyee {
  border-radius: [object Object]px;
  background-color: var(--fifhtcolor);
  flex-basis: calc((100%-90px) / 4);
}
.thirdheader {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--brandcolor);
}
.position {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: var(--thirdcolor);
}

.button-next {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background-color: var(--ninthcolor);
  color: var(--brandcolor);
  cursor: pointer;
  font-family: 'Roboto';
}
.buttonnext:hover,
.buttonnext:focus {
  color: var(--fifhtcolor);
  background-color: var(--fourthcolor);
  cursor: pointer;
}
.image-border {
  height: 404px;
  width: 370px;
  left: 215px;
  top: 262px;
  border-radius: 0px;
  background-color: #eeeeee;
}
.portfolioheader {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--brandcolor);
}
.portfoliodescription {
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: var(--thirdcolor);
}
